/*MANERAS DE INCLUIR EL CSS

como lo incluimos:
-Directamente sobre el elemento (etiqueta) usando la propiedad style" 
ahi, directamente, escribimos nuestro codigo CSS
-En la cabecera de nuestro HTML. Usando una etiqueta llamada "Style" 
podemos decir que el diseño que tendra en la pagina, los elementos que 
indiquemos
-En una hoja aparte (archivo) , NO DEBEMOS OLVIDAR IMPORTAR LA HOJA 
AL HTML

*/

/**SELECCION DE ELEMENTOS

A traves del tag (etiqueta) por ej=> div,a,h1,p,img
-A traves del class por ej=> class:"micontenedor", o class:"textparrajo"
-A traves del id, por ej=> id:"micontenedor"
*/

/*Para seleccionar a traves de una clase,utilizamos el . */

/*? PARAMETROS Y VARIABLES GLOBALES. */

/*UNA VARIABLE ES UNA CAJA DONDE GUARDAREMOS ALGUN DATO*/

:root{
    --fuenteparrafo:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fuenteheader:'Times New Roman', Times, serif;
    --negro:black;
    --rojo: red;
    --colorheader:pink;
    --border:10px solid gray;
}

/*PARAMETROS GLOBALES: son documentos que afectaran nuestro HTML y nuestro DOCUMENTO*/

html{
    box-sizing: border-box; /*propiedad caja con bordes*/
    font-size: 62,5px; /*1rem= 10px*/
}

/*parametro GLOBAL DE ELEMENTOS*/

*,*::before,*::after{
    margin: 0 auto;
    box-sizing: inherit;
}


/*UTILIDADES DE CLASES:son clases que nos permiten dar una propiedad, y que utilizaremos con frecuencia*/

.no-margin{
    margin: 0;
    color: (mediumblue);
}

.no-padding{
    padding: 0;
    color: brown;
}

.letrasegoe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
















.contenedor3{
    background-color: red;
    /*para utilizar una variable simplemente llamamos a la funcion var()*/
    font-family: var(--fuenteparrafo);
}

.container{
    background-color:var(--colorheader);
    /*Agregar BORDES*/
    border: var(--border);
    /*CENTRAR TEXTO*/
    text-align: center;
    /*AGREGAR ESTILO AL TEXTO CON LETRAS*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*cambiar TAMAÑO AL TEXTO*/
    font-size: 5rem;
    /*COLOR A LA LETRA*/
    /*color: white;*/
    /*bordes al texto*/
    -webkit-text-stroke: 0.5px var(--negro);
    text-shadow: -2px 1px 0  black;

    /*SEPARACIONES
    podemos separar el contenido del borde, ylos elemento entre si
    */
    
    /*Separar el contenido de sus bordes*/
    /*padding: 5px 10px;*/

    /* para Separar contenido con respecto a sus otros elementos*/
    /*margin: 5px 10px 2px 5px; /*arriba,derecha,abajo,izquierda*/

    /*Las SEPARACIONES tiene sus propios ATRIBUTOS INDIVIDUALES
    margin-top: ;
    margin-bottom: ;
    padding-left: ;
    padding-right: ;
    */

}


/*HOVER: es un indicador , que nos dira que va a ocurrir con un elemento, cuando
pasemos el mouse por encima

para poder usarlo,debemos llamar a una clase, y pasarle un selector, que es HOVER
*/

/*CUANDO nos posicionemos sobre el DIV3 cambiara de color del fondo y de la letra*/

.container:hover{
    background-color: aqua;
    color: var(--rojo);
    transform: scale3d();

}