html ,*,*::after,*::before{
    margin: 0 auto;
    text-align: center;
}

.container{
    display: flex;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    min-width: 100%;
    gap: 5px;
}

.animacion{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    text-align: center;
}


@keyframes desvanecer {
    from{opacity: 1;}
    to{opacity: 0;}
}


#animacion-desvanecer:hover{
    cursor: pointer;
    animation-name: desvanecer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes transladar {
    from{transform: translateX(0);}
    to{transform: translateX(150px);}
}

#animacion-transladar:hover{
    cursor: pointer;
    animation-name: transladar;
    animation-duration: 2s;
}


@keyframes rotar-colores {
    0%{background-color: aqua;}
    25%{background-color: blue;}
    50%{background-color: blueviolet;}
    74%{background-color: pink;}
    100%{background-color: chocolate;}
}

#animacion-colores:hover{
    cursor: pointer;
    animation-name: rotar-colores;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes girar {
    to{transform: rotate(0);}
    from{transform: rotate(360deg);}
}

#animacion-girar:hover{
    cursor: pointer;
    animation: girar 3s infinite;
}

@keyframes escalar {
    from{transform: scale(0,5);}
    to{transform: scale(1);}
}

#animacion-escalar:hover{
    cursor: pointer;
    animation-name: escalar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes perspectiva {
    from{transform: perspective(150px);}
    to{transform: perspective(150px);}
}

#animacion-perspectiva{
    cursor: pointer;
    animation: perspectiva 3s  infinite ;
}