.grid{
    display: grid;
    grid-gap: 5px;
    margin: 10px;

}

.auto-fit{
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.auto-fill{
grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

.grid > div{
    background-color: magenta;
    font-size: 1,5em;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}